
/* colors  */
$color-light-grey:             #dedfe0 !default;
$color-grey:                   #d8d8d8 !default;
$color-charcoal:               #8c8d8d !default;
$para-color-grey:              #68686D !default;
$border-color-grey:            #979797 !default;
$color-overlay:                rgba(0,0,0,0.6);
$color-yellow:                 #eabb00 !default;
$black-color:                  #000000 !default;
$white-color:                  #ffffff !default;
